*{
    box-sizing: border-box;
    flex-wrap: wrap;
}

body{
    display: flex;
    background-color: #082EAA;
    color: #ECEDF0;
    margin: 0;
    flex-direction: column;
    font-family: 'DP';
    align-items: center;
    min-height: 100vh; /*footer mindig alul: https://www.30secondsofcode.org/css/s/footer-at-the-bottom/*/
}
a{text-decoration: none;}
a:visited{color: #ECEDF0;}

.arial{font-family: Arial, Helvetica, sans-serif;}

nav.dropdown{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 1%;
    /*background-image: url("/images/menu_icon.svg");*/
}
.dropdown button{
    cursor: pointer;
    background-color: #21273C;
    color: #ECEDF0;
    font-family: 'DP';
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 16px;
}
.dropdown button:hover{background-color: #5C76CC;color: #BBCBFF;}
.dropdown div{
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 150px;
    /*background-color: rgb(147, 174, 225);*/
}
.dropdown div a{
    display: block;
    background-color: #21273C;
    color: #ECEDF0;
    margin: 2%;
    padding: 5px 0;
    font-size: 20px;
}

.dropdown div a:hover{
    background-color: #5C76CC;
    color: #BBCBFF;
}
#current:hover{background-color: #ECEDF0;color: #BBCBFF;}

.dropdown:hover div{
    display: block;
}
#current{
    background-color: #BBCBFF;
    color: #5C76CC;
}

header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: #ECEDF0;
    width: 100%;
}

.logo{
    width: 100%;
    height: 45px;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: 'DP';
    background-color: #5C76CC;
    width: 100%;
    align-items: center;
}
.logo img{
    height: 100%;
}
.logo p{
    margin: 0;
    font-family: 'DP';
    font-size: 30px;
    background-color: #5C76CC;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1%;
    width: 80%;
    height: 50px;
    padding: 0;
}

header ul li{
    /*width: 16%;*/
    height: 50px;
    display: flex;
    flex-direction: row;    
    background-color: #BBCBFF;
    color: #5C76CC;
    border-radius: 10px;
    font-size: 16px;
}

header ul .mobil{
    display: none;
}

header ul li img{
    height: 72%;
    margin: 6px 0;
    
}

/*MAIN*/
#garden{
    width: 98%;
    display: flex;
    flex-direction: row;
    background-color: #BBCBFF;
    border-radius: 10px;
}
#garden input{font-family: 'DP';font-size: 12px;background-color: #21273C;color: #ECEDF0; border-radius: 5px; }
#garden input:hover{background-color: #5C76CC; color: #BBCBFF; cursor: pointer;}
/*#garden div{border: #21273C solid 1px;}*/
#g_e{
    width: 100%;
    display: flex;
    flex-direction: row;
}
    #g_e_1{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
        #cat{
            width: 60%;
        }
        #cat_pic{width: 100%;}
        #cat_pic:hover{cursor: pointer;}
        #dor{display: none;position: absolute;background-color: #21273C;margin-left: 50%;margin-top: -30%;font-size: 20px;}
        #food{
            width:40%
        }
        #f_pic{width: 100%;}
    #g_e_2{
        width: 100%;
    }
        #hab_pic{
            width: 100%;
            transform: translateY(-25%);
        }
#g_b_1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
}
#g_b_2{
    width: 100%;
    padding: 1%;
}
    #g_b_2_1, #g_b_2_2{
        width: 100%;
        display: none;
        flex-direction: row;
        justify-content: space-around;
    }
    /*#c_prev, #c_next, #h_prev, #h_next{display: none;}*/

/*SHOP*/
#shop{
    display: flex;
    flex-direction: row;
    width: 98%;
    background-color: #BBCBFF;
    padding-bottom: 1%;
    border-radius: 10px;
}
.shop_menu{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.shop_menu input{
    font-family: 'PD';
    font-size: 15px;
}
.shop_menu #b_cats, .shop_menu #b_habitats{
    width: 48%;
    margin: 1%;
    border: none;
    background-color: #21273C;
    color: #ECEDF0;
    font-family: 'DP';
    border-radius: 5px;
}

.shop_menu #b_cats:hover, .shop_menu #b_habitats:hover{
    background-color: #5C76CC;
    color: #BBCBFF;
}
.shop_elements{
    width: 100%;
}
.shop_elements #s_habitats{
    display: none;
}
.shop_elements input{
    background-color: #5C76CC;
    color: #BBCBFF;
    border-radius: 5px;
    font-family: 'DP';
    border-color: #21273C;
    font-size: 20px;
    margin-left: 50%;
}
.shop_elements input:hover{
    background-color: #BBCBFF;
    color: #5C76CC;
    cursor: pointer;
}

/*    GAME    */
.game_head{
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    font-size: 16px;
}
.game_head div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.game_head div input{
    font-family: 'DP';
    background-color: #21273C;
    color: #ECEDF0;
    cursor: pointer;}
.game_head div input:hover{
    background-color: #5C76CC;
    color: #BBCBFF;
}
#game{
    display: flex;
    flex-direction: row;
    width:80%;
    min-width: 300px;
    min-height: 300px;
    margin:auto;
    max-height: 75vh; /*800px-re állítani ha nem működne*/
    max-width: 75vh;
    background-color: #5C76CC;
    justify-content: space-between;
    border-radius: 3.3%;
}
.game_box{
    height: 30%;
    width: 30%;    
    border: 2px solid #21273C;
    display: flex;
    align-content: center;
    border-radius: 10%;
    margin:1.5%;
}
.game_box:hover{cursor: pointer;}
.game_box img{
    width: 100%;
}
#game_end{
    display: none;
    z-index: 1;
    position: absolute;
    width: 50vw;
    height: 15vh;
    margin: 42.5vh 25vw;
    text-align: center;
    border: 2px solid #21273C;
    background-color: #BBCBFF;
    color: #21273C;
    padding-top: 2.5vh;
    font-size: 20px;
    border-radius: 5%;
}

/*FORM*/

.aa, .aa:visited{
    text-decoration: underline;
    color:#BBCBFF;
    font-size: 20px;
}
.aa:hover, .aa:visited:hover{color:#5C76CC}

.f_logo{
    min-width: 315px;
    width: 80vw;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 0 10% 0;
}
.f_logo img{
    min-height: 100px;
    height: 15vh;
}
.f_logo p{
    text-align: center;
    font-size: 40px;
    width: 100%;
    margin:0;
}

form{
    min-width: 315px;
    width: 60vw;
    background-color: #5C76CC;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 3%;
}
form label{
    margin: 1% 0 0 3%;
}
form input{
    font-size: 20px;
    margin: 0 0 5% 10%;
    width: 75%;
    max-width: 300px;
    border-radius: 5px;
    background-color: #ECEDF0;
}
form input.bttn{
    font-family: 'DP';
    background-color: #21273C;
    color: #ECEDF0;
    width: fit-content;
    
}
form input.bttn:hover{
    background-color: #BBCBFF;
    color: #5C76CC;
    cursor: pointer;
}
.pp{
    margin: 0 0 3% 5%;
    line-height: 2em;
}

#radio_a, #radio_b, #radio_c, #check_a, #check_b, #check_c{
    margin: 0 0 3% 5%;
    width:20px;
}
.check{
    font-size: 16px;
}

form hr{
    min-width: 300px;
    width: 94%;
    color: #21273C;
    background-color: #21273C;
    border-width: 0;
    height: 2px;
    margin: 0 3%;
}

/*FOOTER*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
    margin: 20% 0 0 0;
    margin-top: auto;
    background-color: #21273C;
    color: #ECEDF0;
    font-size: 11px;
}
footer .outer{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1.5%;
}
@media only screen and (min-width: 600px) {
    /* tabletre vonatkozó beállítások */
    header{
        width: 100%;
    }
    header div.logo{
        order: 1;
        width:40%;
        min-width: 249px;
        max-width: 270px;
        height: 50px;
        margin: 1%;
    }
    header ul{
        order: 2;
        width: 40%;
        min-width: 245px;
    }
    header ul li img{height: 65%;}
    /*SHOP*/
    .shop_menu{
        width:10%;
        flex-direction: column;
        justify-content: center;
    }
    .shop_menu #b_cats, .shop_menu #b_habitats{
        width: 96%;
        min-width: 100px;
        margin: 15% 2%;
    }
    .shop_elements{
        width: 85%;
    }

    /*FORM*/
    .f_logo{
        margin: 2% 0 5% 0;
    }
    .f_logo img{
        height: 20vh;
    }
    .f_logo p{
        font-size: 45px;
    }
}
@media only screen and (min-width: 768px) {
    /* számítógépre vonatkozó beállítások */
    header{
        width: 100%;
    }
    header div.logo{
        order: 1;
        width:38%;
        min-width: 249px;
        height: 50px;
        margin: 1%;
    }
    header ul{
        order: 2;
        width: auto;
        min-width: 60%;
    }
    header ul li{
        min-width: fit-content;
    }
    header ul li img{height: 75%;}
    header ul .mobil{display: inline;}
    header nav.dropdown{
        order: 3;
        width: 98%;
        margin: 1%;
    }
    .dropdown button{display: none;}
    .dropdown div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        border-bottom: #BBCBFF solid 2px;
    }
    .dropdown:hover div{
        display: flex;
    }
    .dropdown div a{
        margin: 0;
        margin-bottom: 0.5%;
        padding: 5px;
        border-radius: 5px;
        width: 23%;
        text-align: center;
    }

    /*MAIN*/
    #g_e{width: 75%;}
    #g_b_1{width: 25%;flex-direction: column;}

    /*SHOP*/
    
    .shop_menu{
        width:10%;
        flex-direction: column;
        justify-content: center;
    }
    .shop_menu #b_cats, .shop_menu #b_habitats{
        width: 96%;
        min-width: 115px;
        font-size: 20px;
        margin: 15% 2%;
    }
    .shop_elements{
        width: 85%;
    }

    /*FORM*/
    .f_logo{
        margin: 2% 0 2% 0;
        max-width: 500px;
    }
    .f_logo img{
        height: 25vh;
    }
    .f_logo p{
        font-size: 60px;
    }
    form{        
        max-width: 500px;        
    }

    /*FOOTER*/
    footer{font-size: 13px;}
}